*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    padding: 0;
    overflow-x: hidden;
    background-color: #ccc;
}

a{
    text-decoration: none;
}

@media only screen and (min-width: 991px) {
    ul{
        background-color: #232f3e;
    }
}
@media only screen and (max-width: 991px) {
    #navbarScroll{
     background-color: #fff;
    position: relative;
    border-radius: 15px 5px;
    padding: 20px 30px;
    padding-left: 20px;
    margin-top: 20px;
  
   }
 
  nav ul li{
    padding-left: 20px;
       width: 100%;
   }

   nav ul li a.nav-link{
       /* color: #47b2e4 !important; */
      color:  #37517e !important;
       width: 100%;
       /* padding: 10px 20px; */
       /* background-color: #37517e; */
       font-weight: 600;
     /* font-weight: 100; */
     font-size: 15px;
       text-align: left;
       
   }
    ul li a:hover,  ul li a.active{
       color: #47b2e4;
   }

 }
 /* .header6{
    font-size: 20px;
 } */
 .header6:hover{
    border: 1px solid #fff;
 }


 @media only screen and  (max-width:1178px){
   .header6{
    font-size: 13px;
   }
 }
.fa-cart-shopping{
    font-size: 1.5rem;
}

/* slider */
.carousel-control-next, .carousel-control-prev {
    /* position: absolute; */
    top: 0;
    font-size: 30px;
  
}

#slider img{
    height: 300px;
}
#slider .carousel-control-next-icon, #slider .carousel-control-prev-icon {
    display: inline-block;
    width: 4rem;
    /* height: 2rem; */
    /* background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%; */
    font-size: 100px !important;
    /* border: solid 2px #000; */
    padding: 30px;
}
/* .carousel-control-next-icon, .carousel-control-prev-icon:active{
    border: solid 2px #fff;
} */

/* products */
.products{
    background-color: #ccc;
    padding: 10px;
}

.products .allCard{
   
    padding: 20px 15px;
    border-radius: 5px;
    /* box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
   margin: 20px 10px 20px 0px; */
}
.products .allCard img{
    width: 95%;
    height: 300px;
}
#slider2 .img , #slider3 .img,#slider4 .img,#slider5 .img,#slider6 .img{
    /* width: 13%;height: 250px;margin-left: 3px; */
    height: 270px;
}
#slider2 .img img , #slider3 .img img,#slider4 .img img,#slider5 .img img,#slider6 .img img{
   height: 200px;
}
#slider2 .img a{
    font-size: 12px;
    
 }
/* slider1 */
#slider1{
    background-color: #ccc;
    padding: 10px;
}
/* #slider1 .carousel-item{padding: 20px; width: 100%; background-color: white;} */
/* #slider1 .carousel-item img{width: 13%;height: 200px;} */


#slider1  .carousel-control-next-icon, #slider1  .carousel-control-prev-icon  ,
 #slider2  .carousel-control-next-icon, #slider2  .carousel-control-prev-icon,
 #slider3  .carousel-control-next-icon, #slider3  .carousel-control-prev-icon ,
 #slider4  .carousel-control-next-icon, #slider4  .carousel-control-prev-icon ,
 #slider5  .carousel-control-next-icon, #slider5  .carousel-control-prev-icon,
 #slider6  .carousel-control-next-icon, #slider6  .carousel-control-prev-icon,
 #slider7  .carousel-control-next-icon, #slider7  .carousel-control-prev-icon
 {
    background-color: #ccc;

    /* border: solid 2px #000; */
    padding: 30px;
}
#slider1  .carousel-control-prev , #slider2  .carousel-control-prev ,
#slider3  .carousel-control-prev ,#slider4  .carousel-control-prev ,#slider5 .carousel-control-prev ,#slider6 .carousel-control-prev ,
#slider7  .carousel-control-prev 
{
    position: absolute;
    left: -70px;
    top: 4px;
   
}
#slider1  .carousel-control-next , #slider2  .carousel-control-next, #slider3  .carousel-control-next ,
#slider4  .carousel-control-next,#slider5 .carousel-control-next,#slider6 .carousel-control-next,
#slider7  .carousel-control-next
{
    position: absolute;
    right: -70px;
    top: 4px;
    
}
#slider3  .carousel-control-prev{
    position: absolute;
    right: -70px;
    top: -50px;
}
#slider3  .carousel-control-next{
    position: absolute;
    right: -50px;
    top: -50px;
    
}

.product1  , .product1 img{
    height: 100%
}
@media only screen and (max-width: 768px) {
   #slider1 .carousel-control-prev , #slider2  .carousel-control-prev,
   #slider3  .carousel-control-prev,#slider4  .carousel-control-prev,#slider5  .carousel-control-prev,
   #slider6  .carousel-control-prev,#slider7  .carousel-control-prev
   {
        position: absolute;
        left: -10px;
        top: -10px;
        
       
    }
    #slider1 .carousel-control-next , #slider2  .carousel-control-next, #slider3  .carousel-control-next,
    #slider4  .carousel-control-next,#slider5  .carousel-control-next,
    #slider6 .carousel-control-next,#slider7  .carousel-control-next
    {
        position: absolute;
        right: -10px;
        top: -10px;
        
    }
   #lsider2,#lsider3,#lsider4,#lsider5,#lsider6,#lsider7{
    padding-top: 30px;
   }
    #slider2 .img , #slider3 .img,#slider4 .img,#slider5 .img,#slider6 .img ,#slider7 .img{
        /* width: 13%;height: 250px;margin-left: 3px; */
        height: 150px;
    }
    #slider2 .img img , #slider3 .img img,#slider4 .img img,#slider5 .img img,#slider6 .img img,#slider7 .img img {
       height: 100px;
    }

            #slider1  .carousel-control-next-icon, #slider1  .carousel-control-prev-icon  ,
        #slider2  .carousel-control-next-icon, #slider2  .carousel-control-prev-icon,
        #slider3  .carousel-control-next-icon, #slider3  .carousel-control-prev-icon ,
        #slider4  .carousel-control-next-icon, #slider4  .carousel-control-prev-icon ,
        #slider5  .carousel-control-next-icon, #slider5  .carousel-control-prev-icon,
        #slider6  .carousel-control-next-icon, #slider6  .carousel-control-prev-icon,
        #slider7  .carousel-control-next-icon, #slider7  .carousel-control-prev-icon
        {
            background-color: #ccc;

            /* border: solid 2px #000; */
            padding: 15px;
        }
        #slider3  .carousel-control-prev{
            position: absolute;
        left: -32px;
        top: -40px;
        }
        #slider3  .carousel-control-next{
            position: absolute;
            right: -32px;
            top: -40px;
        }
  }

    footer{
        background-color: #232F3E;
    }
    footer h5{
        font-size: 16px;
    }
    footer a{
        display: block;
        margin-top: 5px;
        color: #ccc;
        font-weight: 300;
    }